doctype html
html(lang="ru")
  head

    //- Head
    include common/head.pug

    title Potter Family - Главная

    //- Swiper-Slider
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
    //- Basic Styles
    link(rel="stylesheet", href='style/main.css')
    script(src="js/main.js", defer) 

  body

    //- Mixins
    include common/mixin.pug

    //- Header
    include common/header.pug

    main 

      section.hero
        .hero__banner#banner
          h1.hero__title КЕЙТЕРИНГ
          .hero__box-outer
            p.hero__desc 
              span.hero__desc-word-1 ОРГАНИЗУЕМ
              span.hero__desc-word-2 ДЛЯ ВАС 
              span.hero__desc-word-3 КОРПОРАТИВНОЕ
              span.hero__desc-word-4 
                a(href="#")
                  +icon('arrow-main')
                | ПИТАНИЕ
          .hero__box-inner#banner-animate
            video(preload="auto" muted loop)#banner-video
              source(src="video/banner.mp4" type="video/mp4")
            p.hero__desc 
              span.hero__desc-word-1 ОРГАНИЗУЕМ
              span.hero__desc-word-2 ДЛЯ ВАС 
              span.hero__desc-word-3 КОРПОРАТИВНОЕ
              span.hero__desc-word-4 
                a(href="#")
                  +icon('arrow-main')
                | ПИТАНИЕ
        .hero__content.container
          ul.hero__content-list 

            each item in [{count: '1000', desc: 'ДОВОЛЬНЫХ КЛИЕНТОВ'}, {count: '500', desc: 'СЦЕНАРИЕВ МЕРОПРИЯТИЙ'}, {count: '100', desc: 'СОТРУДНИКОВ РАБОТАЕТ У НАС'}]
              li.hero__content-item 
                strong.hero__content-desc 
                  span
                    = item.count
                    | +
                  span= item.desc

      section.rates.container 
        h2.rates__title ТАРИФЫ
        ul.rates__list 

          each item, index in [{id: 'light', title: 'Тариф\u00A0Лайт'}, {id: 'classic', title: 'Тариф\u00A0Классик'}, {id: 'gourmet', title: 'Тариф\u00A0Гурман'}]
            li.rates__item 
              button(id= item.id, class=(index === 0 && 'active')).rates__btn
                span.rates__btn-word
                  - for(var letter = 0; letter < item.title.length; letter++)
                    span.rates__btn-letter(style=`transition-delay: ${letter / 100}s`)= item.title[letter]
                span.rates__btn-word
                  - for(var letter = 0; letter < item.title.length; letter++)
                    span.rates__btn-letter(style=`transition-delay: ${letter / 100}s`)= item.title[letter]
              picture.rates__img-box(data-tab= item.id, class=(index === 0 && 'active'))
                - for(var i = 1; i < 4; i++)
                  source(class=`rates__img-${i}` srcset=`img/rates/${item.id}/${i}.webp`).rates__img
                  img(class=`rates__img-${i}` src=`img/rates/${item.id}/${i}.webp`, alt=`${item.id}-${i}`).rates__img
        p.rates__desc МИНИМАЛЬНАЯ СУММА ЧЕКА: ОТ 300 ₽.
      
      section.popular
        h2.popular__title#title-popular
          - var title = ['Популярные', 'блюда']

          - for(var word = 0; word < title.length; word++)
            span.popular__title-word
              - for(var letter = 0; letter < title[word].length; letter++)
                span.popular__title-letter
                  span(style=`transition-delay: ${letter / 20}s`)= title[word][letter]
        .popular__slider-box 
          .popular__slider.swiper.container
            .swiper-wrapper

              - for(var slide = 1; slide < 6; slide++)
                .popular__card.swiper-slide
                  div
                    .popular__card-box-main
                      .popular__card-box-rating 
                        strong.popular__card-rating 
                          +icon('star')
                          span 4.7
                        strong.popular__card-classification эконом
                        button.popular__card-add 
                          +icon('add')
                      .popular__card-box-title 
                        picture.popular__card-box-img 
                          source(srcset="img/popular/1.webp").popular__card-img
                          img(src="img/popular/1.webp", alt="Продукт").popular__card-img
                        h3.popular__card-title ТОРТ НАПОЛЕОН
                        h4.popular__card-subtitle русская кухня
                      .popular__card-box-weight
                        strong.popular__card-weight
                          span 150
                          | грамм
                        strong.popular__card-calories
                          span 500
                          | калорий
                    .popular__card-box-desc
                      .popular__card-box-compound
                        strong.popular__card-title-desc СОСТАВ
                        p.popular__card-desc вода, сахар, яичный желток, мука пшеничная, сахар тростниковый
                      p.popular__card-desc-2 белки 6,3 г, жиры 11,9 г, углеводы 61,6 г
                  .popular__card-box-more
                    strong.popular__card-box-price
                      span.popular__card-price
                        span 500
                        sup ₽
                      | стоимость 
                    a(href="#").popular__card-btn подробнее
                  strong.popular__text-animate(data-content="Правильное питание") Правильное питание
      
      section.formats
        h2.formats__title.container ФОРМАТЫ МЕРОПРИЯТИЙ
        .formats__slider.swiper
          .swiper-wrapper

            each title, index in ["ДЕТСКИЙ ФУРШЕТ", "КОРПОРАТИВНОЕ ПИТАНИЕ", "ОБЕД В ОФИС", "КОФЕ БРЕЙК", "ДЕТСКИЙ ФУРШЕТ", "КОРПОРАТИВНОЕ ПИТАНИЕ"]
              .formats__card.swiper-slide(class=`formats__card-${index + 1}`)
                picture.formats__card-img-box 
                  source(srcset=`img/formats/${index + 1}.webp`).formats__card-img
                  img(src=`img/formats/${index + 1}.webp`, alt="Продукт").formats__card-img
                h3.formats__card-title= title
                p.formats__card-desc торжественные и праздничные мероприятия
                a(href="#").formats__card-btn подробнее
      
      section.reviews
        a(href="#").reviews__link все отзывы
        p.reviews__desc(data-content="ОТЗЫВЫ О НАС") ОТЗЫВЫ О НАС
        .reviews__slider.swiper
          .swiper-wrapper

            - for(var slide = 0; slide < 5; slide++)
              .reviews__card.swiper-slide
                .reviews__card-box-review
                  strong.reviews__card-user ВИКТОР
                  p.reviews__card-user-desc БОЛЬШОЙ ВЫБОР БЛЮД
                .reviews__card-box-desc
                  p.reviews__card-desc Вы останетесь приятно удивлены, как возможно вкусно и незатратно провести время
                  .reviews__card-box-rating
                    a(href="#").reviews__card-link читать
                    strong.reviews__card-stars
                      - for(var star = 0; star < 5; star++)
                        +icon('star-2')(class= star < 4 && "active")
      
      section.choice
        .container 
          h2.choice__title
            span ПОЧЕМУ НАС 
            span ВЫБИРАЮТ
          p.choice__desc Наша главная миссия: сделать вкусную и разнообразную еду на любое предпочтение, попробуй идею на вкус!
        .choice__slider.swiper 
          .swiper-wrapper

            each card, index in [{title: 'Качественное обслуживание', desc: 'Организация мероприятий и доставка блюд происходят точно в срок', color: '#c0eed6'}, {title: 'МЕРОПРИЯТИЕ ПОД КЛЮЧ', desc: 'Организуем мероприятие под ключ — от площадки, ведущего, диджея и декора до клининга.', color: '#FFF3E6'}, {title: 'БОЛЬШОЙ ВЫБОР БЛЮД', desc: 'Организация мероприятий и доставка блюд происходят точно в срок', color: '#FFE5E3'}, {title: 'САМЫЕ ПРИЯТНЫЕ ЦЕНЫ', desc: 'Вы останетесь приятно удивлены, как возможно вкусно и незатратно провести время', color: '#D3D1DC'}]
              .choice__card.swiper-slide(class=`choice__card-${index + 1}` style=`background-color: ${card.color}`)
                h3.choice__card-title= card.title
                p.choice__card-desc= card.desc








